<template>
  <div>
    <div>
      <b-navbar
        type="dark"
        variant="dark"
      >
        <b-navbar-nav>
          <b-nav-item :to="{name:'index'}">CSS Styling</b-nav-item>
          <b-nav-item :to="{name:'template'}">Template and Styling</b-nav-item>
          <b-nav-item :to="{name:'bot'}">MAQE Bot</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
    </div>
    <Nuxt />
  </div>
</template>
