<template>
  <div class="bg-grey">
    <div class="container">
      <b-row>
        <b-col cols="12">
          <h1>MAQE Bot</h1>
        </b-col>
        <b-col cols="12">
          <b-form-group label="Input Data (Enter for submit)">
            <b-form-input
              v-model="inputText"
              type="text"
              placeholder="Input Data"
              required
              @keypress.enter="run()"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="12">
          Result : {{ Result }}
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      inputText: '',
      currentPosition: {
        X: 0, Y: 0,
        direction: 'North'
      },
      Direction: {
        North: { L: 'West', R: 'East', X: 0, Y: 1 },
        South: { L: 'East', R: 'West', X: 0, Y: -1 },
        East: { L: 'North', R: 'South', X: 1, Y: 0 },
        West: { L: 'South', R: 'North', X: -1, Y: 0 },
      }
    }
  },
  methods: {
    run () {
      const paragraph = this.inputText;
      const regex = /[L]|[R]|[W][0-9]+/g;
      const array = paragraph.match(regex);
      array.forEach(item => {
        if (item === 'L' || item === 'R') {
          this.currentPosition.direction = this.Direction[this.currentPosition.direction][item]
        } else {
          const pointNumber = parseInt(item.replace(/[^0-9]/g, ''))
          for (var i = 0; i < pointNumber; i++) {
            const X = this.Direction[this.currentPosition.direction].X
            const Y = this.Direction[this.currentPosition.direction].Y
            this.currentPosition.X += X
            this.currentPosition.Y += Y
          }
        }
      });
    }
  },
  computed: {
    Result () {
      return `X: ${this.currentPosition['X']} Y: ${this.currentPosition['Y']} Direction: ${this.currentPosition['direction']}`
    }
  }
}
</script>
