<template>
  <div class="bg-grey">
    <div class="container">
      <b-row>
        <b-col cols="12">
          <div class="box">
            <div class="box-white"></div>
            <div class="box-flex">
              <div class="box-text">M</div>
            </div>
            <div class="box-flex">
              <div class="box-text">A</div>
            </div>
            <div class="box-flex">
              <div class="box-text">Q</div>
            </div>
            <div class="box-flex">
              <div class="box-text">E</div>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.bg-grey {
  position: relative;
  background-color: #F7F7F7;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}
.box {
  position: relative;
  border: 10px solid #fff;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    0deg,
    rgba(157, 213, 209, 1) 0%,
    rgba(103, 195, 233, 1) 100%
  );
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 20px solid #67c3e9;
  border-radius: 15px;
  z-index: -1;
  -webkit-box-shadow: 15px 18px 15px -8px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    15px 18px 15px -8px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 15px 18px 15px -8px #ccc;
}
.box-white {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.box-flex {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.box-text {
  color: #67c3e9;
  font-size: 5rem;
  background-color: #fff;
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
   -moz-box-shadow:    inset 0 0 10px #696969;
   -webkit-box-shadow: inset 0 0 10px #696969;
   box-shadow:         inset 0 0 10px #696969;
   z-index:10;
   border-radius: 5px;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #696969;
}
</style>