<template>
  <div class="container pt-3 pb-3">
    <b-row>
      <b-col cols="12">
        <h1>MAQE Forums</h1>
        <h2>Subtitle</h2>
        <h3>Posts</h3>
      </b-col>
    </b-row>
    <b-row>
      <template v-for="(post, index) in posts">
        <b-col
          :key="`post-${index}`"
          cols="12"
          class="mb-3 div-card"
        >
          <div>
            <b-card
              no-body
              class="overflow-hidden"
            >
              <b-row no-gutters>
                <b-col
                  md="2"
                  class="pd-12px"
                >
                  <b-card-img
                    :src="`https://picsum.photos/320/240?post=${index}`"
                    alt="Image"
                  ></b-card-img>
                </b-col>
                <b-col md="8">
                  <b-card-body
                    :title="post.title"
                    class="pd-12px"
                  >
                    <b-card-text>
                      <p>{{ post.body }}</p>
                      <p class="text-grey">
                        <font-awesome-icon
                          class="ml-2"
                          :icon="['far', 'clock']"
                        />
                        <i>{{ timeDifference(post.created_at) }}</i>
                      </p>
                    </b-card-text>
                  </b-card-body>
                </b-col>
                <b-col
                  md="2"
                  class="pd-12px"
                >
                  <div class="div-author">
                    <div class="img-author mb-3">
                      <b-avatar
                        :src="`https://picsum.photos/320/240?author=${index}`"
                        size="6rem"
                      ></b-avatar>
                    </div>
                    <div class="author-name mb-1 text-center">
                      {{ post.author.name }}
                    </div>
                    <div class="mb-1 text-center">
                      {{ post.author.role }}
                    </div>
                    <div class="text-grey mb-1 text-center">
                      <font-awesome-icon
                        class="ml-2"
                        :icon="['fas', 'map-marker-alt']"
                      />
                      {{ post.author.place }}
                    </div>
                  </div>
                </b-col>
              </b-row>
            </b-card>
          </div>
        </b-col>
      </template>
    </b-row>
    <b-row>
      <b-col cols="12">
        <div class="mt-3">
          <div class="text-center pagination">
            <a
              href="#"
              class="text-black"
            >Previous</a>
            <template v-for="num in 10">
              <a
                href="#"
                class="num"
                :key="`page-${num}`"
                :class="num === 1 ?`active`:``"
              >{{ num }}</a>
            </template>
            <a
              href="#"
              class="text-black"
            >Next</a>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  async asyncData ({ $axios }) {
    const posts = await $axios.get('http://maqe.github.io/json/posts.json')
    const authors = await $axios.get('http://maqe.github.io/json/authors.json')
    posts.data.forEach(post => {
      const result = authors.data.filter(function (author) {
        return author.id === post.author_id
      })
      if (result.length > 0) {
        post.author = result[0]
      }
    });
    return {
      posts: posts.data
    }
  },
  methods: {
    timeDifference (created_at) {
      const current = new Date()
      const previous = new Date(created_at)
      const msPerMinute = 60 * 1000;
      const msPerHour = msPerMinute * 60;
      const msPerDay = msPerHour * 24;
      const msPerMonth = msPerDay * 30;
      const msPerYear = msPerDay * 365;

      const elapsed = current - previous;

      if (elapsed < msPerMinute) {
        return Math.round(elapsed / 1000) + ' seconds ago';
      }

      else if (elapsed < msPerHour) {
        return Math.round(elapsed / msPerMinute) + ' minutes ago';
      }

      else if (elapsed < msPerDay) {
        return Math.round(elapsed / msPerHour) + ' hours ago';
      }

      else if (elapsed < msPerMonth) {
        return Math.round(elapsed / msPerDay) + ' days ago';
      }

      else if (elapsed < msPerYear) {
        return Math.round(elapsed / msPerMonth) + ' months ago';
      }

      else {
        return Math.round(elapsed / msPerYear) + ' years ago';
      }
    }
  },
}
</script>

<style scoped>
.text-grey {
  color: #aaaaaa;
}
.author-name {
  color: #cc413e;
}
.img-author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-author {
  border-left: 1px solid rgba(204, 204, 204, 0.5);
  height: 100%;
}
.pd-12px {
  padding: 12px;
}
.card-img {
  object-fit: cover;
  object-position: center;
}
.text-black {
  color: black;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pagination a {
  margin: 0px 5px;
}
.pagination a.num {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  color: black;
}
.pagination a.num.active {
  background-color: #c83430;
  color: white;
}

.div-card:nth-child(odd) .card {
    background-color: #FFF;
}

.div-card:nth-child(even) .card {
    background-color: #F0F0F0;
}
.card {
  box-shadow: 1px 4px 8px 0px #ccc;
}
</style>